/* Apply fonts and layout */
body {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  background-color: ivory;
  margin: 10px 50px;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

/* Ensure logos/images are inline with text */
img {
  vertical-align: middle;
}
